.finder {
  margin: 2rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  max-width: 40rem;
  text-align: center;

  input {
    font: inherit;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #1f2937;
    background-color: white;

    &:focus {
      outline: none;
      border-color: #800040;
    }
  }
}